# Important Announcements
### Rescheduled Class
You should all have received an email concerning the 2 rescheduled class.
<br>Rescheduled classes will be held on: 
- 06/26 (June 26, Tuesday ), period 1, room CALL 23 
- 06/29 (June 29, Friday ), period 5, room CALL 23 

You may attend either class. 
<br>The content will be identical. 

__THERE IS A CLASS ON JUNE 25, MONDAY AS USUAL__

### Rescheduled Class
All classes on June 18, Monday are cancelled for University's Foundation Day.

<br>The rescheduled class will be on June 20, period 5, Wednesday, room CALL 23.

<br>(Normal Wednesday classes have been rescheduled)

## Exam
A take-home exam with a time limit of 1 week will be issued on July 16 *instead of* the previously sheduled exam on July 23.

The deadline for the take-home exam will be July 23.

Please submit your exam solution by email.

## Please download the new class notes.
### Step 1 : Navigate to the directory where your files are stored.  
Open a terminal. 
<br>Using `cd`, navigate to *inside* the ILAS_Python_for_engineers folder on your computer. 
### Step 3 : Update the course notes by downloading the changes
In the terminal type:

>`git add -A
git commit -m "commit"
git fetch upstream
git merge -X theirs upstream/master`

# Working with Data

<br> <a href='#Pandas'>Pandas</a>
<br> <a href='#Installation'>Installation</a> 
<br> <a href='#ImportingData'>Importing Data</a> 
	<br> &emsp;&emsp; <a href='#ConvertingPythonObject'>Converting a Python Object</a> 
    <br> &emsp;&emsp; <a href='#ImportingDataExternalFile'>Importing Data from an External File</a> 
        <br> &emsp;&emsp; &emsp;&emsp; <a href='#AssigningNamesUnlabelledData'>Assigning Names to Unlabelled Data</a> 
        <br> &emsp;&emsp; &emsp;&emsp; <a href='#RenamingColumns'>Renaming Columns</a> 
        <br> &emsp;&emsp; &emsp;&emsp; <a href='#RenamingRows'>Renaming Rows</a> 
        <br> &emsp;&emsp; &emsp;&emsp; <a href='#RenamingRowHeader'>Renaming Row Header</a> 
        <br> &emsp;&emsp; &emsp;&emsp; <a href='#ImportOptions'>Import Options</a> 
<br> <a href='#ViewingInspectingData'>ViewingInspectingData</a> 
<br> <a href='#SelectingData'>Selecting Data</a> 
<br> <a href='#Indexing'>Indexing</a> 
<br> <a href='#NumpyFunctionsDataFrames'>Numpy Functions for Data Frames</a>
<br> <a href='#BooleanDataFrameIndexing'>Boolean Data Frame Indexing</a>
<br> <a href='#ChangingValues'>Changing Values</a>
<br> <a href='#ApplyingFunctionWholeSeries'>Applying a Function to a Whole Series</a>
<br> <a href='#SortingDataFrames'>Sorting Data Frames</a>
<br> <a href='#DataCleaning'>Data Cleaning</a>
<br> <a href='#Iterating'>Iterating</a>
<br> <a href='#PlottingDataFrames'>Plotting Data Frames</a>
<br> <a href='#AddingRemovingJoining'>Adding, Removing and Joining</a>  
    &emsp;&emsp; <a href='#AddingColumnDataFrame'>Adding a Column to a Data Frame</a> 
    <br> &emsp;&emsp; <a href='#InsertingColumnDataFrame'>Inserting a Column to a Data Frame</a> 
    <br> &emsp;&emsp; <a href='#AddingRowDataFrame'>Adding a Row to a Data Frame</a> 
<br> <a href='#Resampling'>Resampling</a> 
<br> <a href='#SavingDataFrame'>Saving a Data Frame</a>
<br> <a href='#OtherWaysSaveProgramOutput'>Other Ways to Save Program Output</a> 
<br> <a href='#ReadingWritingTextFiles'>Reading and Writing Text Files</a> 
    <br> &emsp;&emsp; <a href='#WritingFiles'>Writing Files</a> 
    <br> &emsp;&emsp; <a href='#ReadingFiles'>Reading Files</a> 
    <br> &emsp;&emsp; <a href='#AppendingFiles'>Appending Files</a> 
    <br> &emsp;&emsp; <a href='#AutomaticallyClosingFileswith'>Automatically Closing Files using `with`</a> 
    <br> &emsp;&emsp; <a href='#ReadingEditingFiles'>Reading and Editing Files</a> 
    <br> &emsp;&emsp; <a href='#BinaryFilesPicklingData'>Binary Files ("Pickling" Data)</a>
        <br> &emsp;&emsp; &emsp;&emsp; <a href='#PicklingPandasDataFrame'>Pickling a Pandas Data Frame</a>
    <br> &emsp;&emsp; <a href='#SavingDataNumpy'>Saving Data with Numpy</a>
<br> <a href='#Summary'>Summary</a> 
<br> <a href='#TestYourselfExercises'>Test-Yourself Exercises</a>

### Lesson Goal

1. Represent data in a way that is easier to manipulate.
1. Save data from your programs to output files. 

### Fundamental programming concepts
 - Computational methods for handling medium-large data sets
 - Storing the output data from your programs

## Pandas
<a id='Pandas'></a>
Pandas stands for “Python Data Analysis Library”.

<img src="img/panda.jpg" alt="Drawing" style="width: 300px;"/>

Pandas takes data (e.g. .csv, .dat or .txt files) and creates a Python object with rows and columns.

This object is called a data frame and looks similar to table in a statistical software (e.g. Excel). 

For real data, can be easier to work with in comparison to working with lists and/or numpy arrays. 

This seminar will give an introduction to some widely used functions of the `pandas` package.



More information can be found in the documentation at http://pandas.pydata.org/.

In [6]:
import pandas as pd

Pandas is installed automatically when you install anaconda.

If Pandas is not installed on your computer, follow the installation instructions below.

(This procedure can be used to install any Python package.
<br>You can repeat this process should you wish to use functions from a package that you do not already have installed.)


To install Pandas...

##### On Windows 

1. Open the Anaconda Prompt from the terminal.
<p align="center">
  <img src="img/anaconda_prompt.png" alt="Drawing" style="width: 300px;"/>
</p>

1. The window that opens will look like the command line. In the window type the following code then press 'Enter':
>`conda install -c anaconda pip`

1. When the installation completes type the following code then press 'Enter':
>`pip install pandas`

##### On mac

1. Open a terminal. 

1. Type the following code then press 'Enter':
>`conda install -c anaconda pip`

1. When the installation completes type the following code then press 'Enter':
>`pip install pandas`

To check the installation has worked type:
>`import pandas` 

in Spyder or Jupyter notebook and run the code. If no error is generated you have installed pandas successfully.

We will also use numpy and matplotlib in this class.

In [7]:
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

## Importing Data 
<a id='ImportingData'></a>
.csv files contain comma separated values (although the values can be separated by other *delimiters*.).

Real data is often stored in .csv files because dedicated software is not needed to read the file. 

This is the type of file is typically viewed in a program like Excel.
<br>In this case, the commas determine the seperation of values into individual cells.

#### Recap : Loading data as a Numpy array.

Previously we learnt to use the function `numpy.loadtxt` to load data from a file.

In [8]:
np.loadtxt('sample_data/sample_student_data.txt', delimiter="\t", dtype=str)

array([['Student', 'Sex', 'DOB', 'Height', 'Weight', 'BP'],
       ['(ID)', 'M/F', 'dd/mm/yy', 'm', 'kg', 'mmHg'],
       ['JW-1', 'M', '19/12/1995', '1.82', '92.4', '119/76'],
       ['JW-2', 'M', '11/01/1996', '1.77', '80.9', '114/73'],
       ['JW-3', 'F', '02/10/1995', '1.68', '69.7', '124/79'],
       ['JW-4', 'M', '11/01/1996', '1.77', '80.9', '114/73'],
       ['JW-5', 'F', '02/10/1995', '1.68', '69.7', '124/79'],
       ['JW-6', 'M', '06/07/1995', '1.72', '75.5', '110/60'],
       ['JW-7', 'F', '28/03/1996', '1.66', '72.4', '-'],
       ['JW-9', 'F', '11/12/1995', '1.78', '82.1', '115/75'],
       ['JW-10', 'F', '07/04/1996', '1.6', '45', '-/-'],
       ['JW-11', 'M', '22/08/1995', '1.72', '77.2', '97/63'],
       ['JW-12', 'M', '23/05/1996', '1.83', '88.9', '105/70'],
       ['JW-14', 'F', '12/01/1996', '1.56', '56.3', '108/72'],
       ['JW-15', 'F', '01/06/1996', '1.64', '65', '99/67'],
       ['JW-16', 'M', '10/09/1995', '1.63', '73', '131/84'],
       ['JW-17', 'M', '17/02/1996', '1.67', '89.8', '101/76'],
       ['JW-18', 'M', '31/07/1996', '1.66', '75.1', '-/-'],
       ['JW-19', 'F', '30/10/1995', '1.59', '67.3', '103/69'],
       ['JW-22', 'F', '09/03/1996', '1.7', '45', '119/80'],
       ['JW-23', 'M', '15/05/1995', '1.97', '89.2', '124/82'],
       ['JW-24', 'F', '01/12/1995', '1.66', '63.8', '100/78'],
       ['JW-25', 'F', '25/10/1995', '1.63', '64.4', '-/-'],
       ['JW-26', 'M', '17/04/1996', '1.69', '55', '121/82']], dtype='<U10')

A limitation of this is that we sometimes need to specify the:
  - delimiter type
  - data type

If mixed data types are included (e.g. sex (string), weight (float)), we need to manipulate numeric data for use in mathematical operations.

In [9]:
np.loadtxt('sample_data/sample_student_data.txt', dtype=float, skiprows=9, usecols=(3,4))

array([[ 1.78, 82.1 ],
       [ 1.6 , 45.  ],
       [ 1.72, 77.2 ],
       [ 1.83, 88.9 ],
       [ 1.56, 56.3 ],
       [ 1.64, 65.  ],
       [ 1.63, 73.  ],
       [ 1.67, 89.8 ],
       [ 1.66, 75.1 ],
       [ 1.59, 67.3 ],
       [ 1.7 , 45.  ],
       [ 1.97, 89.2 ],
       [ 1.66, 63.8 ],
       [ 1.63, 64.4 ],
       [ 1.69, 55.  ]])

`np.loadtxt` provides basic functionality. 

`pandas` loads data into a `DataFrame`. 

A `DataFrame` is like a Numpy array, with additional features for data analysis...

To create a Pandas data frame you either:

- Convert a Python object (list, dictionary or Numpy array) to a Pandas data frame
- Import the contents of a file (usually .csv)

### Convert a Python Object
<a id='ConvertPythonObject'></a>
The basic command is:

    pd.DataFrame()

In [10]:
# generate random data
data = np.random.randint(0, high=10, size=(4, 4))

print(data)

print()

print(pd.DataFrame(data))

[[0 1 7 5]
 [8 6 9 4]
 [1 0 5 6]
 [9 1 3 9]]

   0  1  2  3
0  0  1  7  5
1  8  6  9  4
2  1  0  5  6
3  9  1  3  9

The data is automatically assigned:
 - an `index` to labelthe rows.
 - `headers` to label the columns
 
We can specify our own label names for rows and columns...

In [11]:
indices = ["Student 1", "Student 2", "Student 3", "Student 4"]
headers = ["score1", "score2", "score3", "score4"]
data_frame = pd.DataFrame(data, index = indices, columns = headers) 
             
print(data)
print()
print(data_frame)

[[0 1 7 5]
 [8 6 9 4]
 [1 0 5 6]
 [9 1 3 9]]

           score1  score2  score3  score4
Student 1       0       1       7       5
Student 2       8       6       9       4
Student 3       1       0       5       6
Student 4       9       1       3       9

### Importing Data from an External File 
<a id='ImportingDataExternalFile'></a>
The basic command is:

    pd.read_csv()

An advantages of Pandas vs just using NumPy is that Pandas allows you to have columns with different data types.  

DataFrames also accomodate `NaN` (not a number) values.

The following example uses Pandas `read_csv` function to load the same student data we imported with `np.loadtxt`.

In [12]:
students = pd.read_csv('sample_data/sample_student_data.csv')
print(students)

   Student  Sex         DOB Height Weight      BP
0     (ID)  M/F    dd/mm/yy      m     kg    mmHg
1     JW-1    M  19/12/1995   1.82   92.4  119/76
2     JW-2    M  11/01/1996   1.77   80.9  114/73
3     JW-3    F  02/10/1995   1.68   69.7  124/79
4     JW-4    M  11/01/1996   1.77   80.9  114/73
5     JW-5    F  02/10/1995   1.68   69.7  124/79
6     JW-6    M  06/07/1995   1.72   75.5  110/60
7     JW-7    F  28/03/1996   1.66   72.4       -
8     JW-9    F  11/12/1995   1.78   82.1  115/75
9    JW-10    F  07/04/1996    1.6     45     -/-
10   JW-11    M  22/08/1995   1.72   77.2   97/63
11   JW-12    M  23/05/1996   1.83   88.9  105/70
12   JW-14    F  12/01/1996   1.56   56.3  108/72
13   JW-15    F  01/06/1996   1.64     65   99/67
14   JW-16    M  10/09/1995   1.63     73  131/84
15   JW-17    M  17/02/1996   1.67   89.8  101/76
16   JW-18    M  31/07/1996   1.66   75.1     -/-
17   JW-19    F  30/10/1995   1.59   67.3  103/69
18   JW-22    F  09/03/1996    1.7     45  119/80
19   JW-23    M  15/05/1995   1.97   89.2  124/82
20   JW-24    F  01/12/1995   1.66   63.8  100/78
21   JW-25    F  25/10/1995   1.63   64.4     -/-
22   JW-26    M  17/04/1996   1.69     55  121/82

Data Frames can be viewed more clearly using the function `display`.

In [13]:
from IPython.display import display

In [14]:
display(students[:4])         # Use regular indexing to display first 4 entries

display(students.head(4))     # Display first 4 entries

display(students.tail())     # Display last 4 entries

  Student  Sex         DOB Height Weight      BP
0    (ID)  M/F    dd/mm/yy      m     kg    mmHg
1    JW-1    M  19/12/1995   1.82   92.4  119/76
2    JW-2    M  11/01/1996   1.77   80.9  114/73
3    JW-3    F  02/10/1995   1.68   69.7  124/79

  Student  Sex         DOB Height Weight      BP
0    (ID)  M/F    dd/mm/yy      m     kg    mmHg
1    JW-1    M  19/12/1995   1.82   92.4  119/76
2    JW-2    M  11/01/1996   1.77   80.9  114/73
3    JW-3    F  02/10/1995   1.68   69.7  124/79

   Student Sex         DOB Height Weight      BP
18   JW-22   F  09/03/1996    1.7     45  119/80
19   JW-23   M  15/05/1995   1.97   89.2  124/82
20   JW-24   F  01/12/1995   1.66   63.8  100/78
21   JW-25   F  25/10/1995   1.63   64.4     -/-
22   JW-26   M  17/04/1996   1.69     55  121/82

We can use similar commands to import data from other sources e.g. data pubilshed remotely on the internet.

In [15]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'

chipo = pd.read_csv(url, sep = '\t')

display(chipo.head())

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [16]:
# Location of file
Location = 'sample_data/noheader_noindex.xlsx'

# Parse a specific sheet
df = pd.read_excel(Location)

display(df.head())

    1.053   2.105   3.158   4.211   6.056
0  48.348  68.733  59.796  54.123  74.452

The first row is automatically used as the columns headings.

### Assigning Names to Unlabelled Data.
<a id='AssigningNamesUnlabelledData'></a>
Sometimes your data doesn't have column or row names.

`pandas` will try to create them.

`sample_data/noHeader_noIndex.csv` contains the data:

```Python
65.056,  1.053,  2.105,  3.158,  4.211
74.452, 48.348, 68.733, 59.796, 54.123
```

In [17]:
unlabelled = pd.read_csv('sample_data/noHeader_noIndex.csv')

display(unlabelled)

print(unlabelled.keys())

    1.053   2.105   3.158   4.211   6.056
0  48.348  68.733  59.796  54.123  74.452

Index(['1.053', '2.105', '3.158', '4.211', ' 6.056'], dtype='object')

Therefore, if there are no headers, in the imported file, they should either be omitted...

In [18]:
unlabelled = pd.read_csv('sample_data/noHeader_noIndex.csv', header=None)

display(unlabelled)

        0       1       2       3       4
0   1.053   2.105   3.158   4.211   6.056
1  48.348  68.733  59.796  54.123  74.452

... or assigned by the user:

In [19]:
headers = ["X","Y"]

unlabelled_vert = pd.read_csv('sample_data/noHeader_noIndex_vert.csv', names=headers)

display(unlabelled_vert)

       X       Y
0  1.053  48.348
1  2.105  68.733
2  3.158  59.796
3  4.211  54.123
4  6.056  74.452

Note, this can also be used to *replace* existing column names on import as we will see later...

### Import Options
<a id='ImportOptions'></a>
The read_csv function has a large number of keyword arguments:
http://pandas.pydata.org/pandas-docs/version/0.23/generated/pandas.read_csv.html

Here are two examples.

`skiprows`: rows to omit

In [20]:
students = pd.read_csv('sample_data/sample_student_data.csv', skiprows=[1, 4])

`index_col`: the names in any column can be used as the index used to select a row.

In [21]:
# DOB as index
students = pd.read_csv('sample_data/sample_student_data.csv', skiprows=[1], index_col=2)

# Student (JW- code) as index
students = pd.read_csv('sample_data/sample_student_data.csv', skiprows=[1], index_col=0)



display(students[:4])

        Sex         DOB  Height  Weight      BP
Student
JW-1      M  19/12/1995    1.82    92.4  119/76
JW-2      M  11/01/1996    1.77    80.9  114/73
JW-3      F  02/10/1995    1.68    69.7  124/79
JW-4      M  11/01/1996    1.77    80.9  114/73

To return column and index names:

In [23]:
print(students.columns)
print(students.index)

Index(['Sex', 'DOB', 'Height', 'Weight', 'BP'], dtype='object')
Index(['JW-1', 'JW-2', 'JW-3', 'JW-4', 'JW-5', 'JW-6', 'JW-7', 'JW-9', 'JW-10',
       'JW-11', 'JW-12', 'JW-14', 'JW-15', 'JW-16', 'JW-17', 'JW-18', 'JW-19',
       'JW-22', 'JW-23', 'JW-24', 'JW-25', 'JW-26'],
      dtype='object', name='Student')
Student
JW-1     M
JW-2     M
JW-3     F
JW-4     M
JW-5     F
JW-6     M
JW-7     F
JW-9     F
JW-10    F
JW-11    M
JW-12    M
JW-14    F
JW-15    F
JW-16    M
JW-17    M
JW-18    M
JW-19    F
JW-22    F
JW-23    M
JW-24    F
JW-25    F
JW-26    M
Name: Sex, dtype: object

### Renaming Columns
<a id='RenamingColumns'></a>
Often, the columns names of imported data are not very convenient (long, including spaces, etc.). 

In the `students` DataFrame, the columns have convenient names.

Lets pretend they don't and change them for demonstration purposes.

In [18]:
# Create a new DataFrame with new names. 

capitalised = students.rename(columns={'Height': 'HEIGHT', 
                                       'Weight': 'WEIGHT'}, inplace=False)

display(students.head())
display(capitalised.head())

        Sex         DOB  Height  Weight      BP
Student
JW-1      M  19/12/1995    1.82    92.4  119/76
JW-2      M  11/01/1996    1.77    80.9  114/73
JW-3      F  02/10/1995    1.68    69.7  124/79
JW-4      M  11/01/1996    1.77    80.9  114/73
JW-5      F  02/10/1995    1.68    69.7  124/79

        Sex         DOB  HEIGHT  WEIGHT      BP
Student
JW-1      M  19/12/1995    1.82    92.4  119/76
JW-2      M  11/01/1996    1.77    80.9  114/73
JW-3      F  02/10/1995    1.68    69.7  124/79
JW-4      M  11/01/1996    1.77    80.9  114/73
JW-5      F  02/10/1995    1.68    69.7  124/79

In [19]:
# Change the names of the original DataFrame inplace.

students.rename(columns={'Height': 'HEIGHT', 
                         'Weight': 'WEIGHT'}, inplace=True)

display(students.head())

        Sex         DOB  HEIGHT  WEIGHT      BP
Student
JW-1      M  19/12/1995    1.82    92.4  119/76
JW-2      M  11/01/1996    1.77    80.9  114/73
JW-3      F  02/10/1995    1.68    69.7  124/79
JW-4      M  11/01/1996    1.77    80.9  114/73
JW-5      F  02/10/1995    1.68    69.7  124/79

### Renaming Rows
<a id='RenamingRows'></a>
Use `index` in place of `columns` to rename rows.

In [20]:
nums = students.rename(index={'JW-1': '1', 
                              'JW-10': '10'}, inplace=False)

display(nums.head())

        Sex         DOB  HEIGHT  WEIGHT      BP
Student
1         M  19/12/1995    1.82    92.4  119/76
JW-2      M  11/01/1996    1.77    80.9  114/73
JW-3      F  02/10/1995    1.68    69.7  124/79
JW-4      M  11/01/1996    1.77    80.9  114/73
JW-5      F  02/10/1995    1.68    69.7  124/79

### Renaming Row Header
<a id='RenamingRowHeader'></a>

In [21]:
students.index.names = ['STUDENTS']

display(students.head())

         Sex         DOB  HEIGHT  WEIGHT      BP
STUDENTS
JW-1       M  19/12/1995    1.82    92.4  119/76
JW-2       M  11/01/1996    1.77    80.9  114/73
JW-3       F  02/10/1995    1.68    69.7  124/79
JW-4       M  11/01/1996    1.77    80.9  114/73
JW-5       F  02/10/1995    1.68    69.7  124/79

## Viewing and Inspecting Data
<a id='ViewingInspectingData'></a>

You can print generic summary statistics for numerical columns:

In [22]:
students.describe()

          HEIGHT     WEIGHT
count  22.000000  22.000000
mean    1.701364  71.754545
std     0.093314  13.493869
min     1.560000  45.000000
25%     1.645000  64.550000
50%     1.680000  72.700000
75%     1.757500  80.900000
max     1.970000  92.400000

...or use functions to obtain specific statistics:

In [25]:
print(students.mean())     # mean of all columns
print(students.corr())     # correlation between columns 
print(students.count())    # number of non-null values in each column
print(students.max())      # highest value in each column
print(students.min())      # lowest value in each column
print(students.median())   # median of each column
print(students.std())      # standard deviation of each colum

HEIGHT     1.701364
WEIGHT    71.754545
dtype: float64
          HEIGHT    WEIGHT
HEIGHT  1.000000  0.670787
WEIGHT  0.670787  1.000000
Sex       22
DOB       22
HEIGHT    22
WEIGHT    22
BP        22
dtype: int64
Sex                M
DOB       31/07/1996
HEIGHT          1.97
WEIGHT          92.4
BP             99/67
dtype: object
Sex                F
DOB       01/06/1996
HEIGHT          1.56
WEIGHT            45
BP                 -
dtype: object
HEIGHT     1.68
WEIGHT    72.70
dtype: float64
HEIGHT     0.093314
WEIGHT    13.493869
dtype: float64

Functions such as these can also be applied to selected columns of the data set.

To do this we need to select which columns we want to apply the function to.

Pandas makes selecting data easier compared to a list or array.

## Selecting Data
<a id='SelectingData'></a>
Columns can be selected using their *keywords*. 

(This is similar to a dictionary).

In [36]:
students = pd.read_csv('sample_data/sample_student_data.csv', skiprows=[1], index_col=0)

print(students['Weight'].head())
print()
print(students['Height'][3,6])

Student
JW-1    92.4
JW-2    80.9
JW-3    69.7
JW-4    80.9
JW-5    69.7
Name: Weight, dtype: float64

KeyError: (3, 6)

In [27]:

print(students[['Weight', 'DOB']][:4])

         Weight         DOB
Student
JW-1       92.4  19/12/1995
JW-2       80.9  11/01/1996
JW-3       69.7  02/10/1995
JW-4       80.9  11/01/1996

Alternative method for single columns:

In [28]:
print(students.Weight.head())

Student
JW-1    92.4
JW-2    80.9
JW-3    69.7
JW-4    80.9
JW-5    69.7
Name: Weight, dtype: float64

In [29]:
print(students['Weight'].head())

print(students[:5].Weight)

Student
JW-1    92.4
JW-2    80.9
JW-3    69.7
JW-4    80.9
JW-5    69.7
Name: Weight, dtype: float64
Student
JW-1    92.4
JW-2    80.9
JW-3    69.7
JW-4    80.9
JW-5    69.7
Name: Weight, dtype: float64

The selected data is returned as a new data frame.

### Indexing
<a id='Indexing'></a>
A DataFrame may be indexed into like an array.

#### .iloc syntax

The `.iloc` (*index location*) indexing syntax is used.

In [30]:
print(students.iloc[0, 1])    # row 0, col 1 : sex of student JW-1 
print(students.iloc[1, 2])    # row 1, col 2 : DOB of student JW-2
print(students.iloc[2:4, 3])  # row 2-4, col 3 : Height of students JW-3 to JW-4
# print(students.iloc[3, 0:3])  # row 3, col 0-3 : Sex, DOB, Height of student JW-4
# print(students.iloc[0])       # row 0, all cols : all data for student JW-1

print(students.iloc[:, 3])    # col 3, all rows, all Height data (first 5 entries)

19/12/1995
1.77
Student
JW-3    69.7
JW-4    80.9
Name: Weight, dtype: float64
Student
JW-1     92.4
JW-2     80.9
JW-3     69.7
JW-4     80.9
JW-5     69.7
JW-6     75.5
JW-7     72.4
JW-9     82.1
JW-10    45.0
JW-11    77.2
JW-12    88.9
JW-14    56.3
JW-15    65.0
JW-16    73.0
JW-17    89.8
JW-18    75.1
JW-19    67.3
JW-22    45.0
JW-23    89.2
JW-24    63.8
JW-25    64.4
JW-26    55.0
Name: Weight, dtype: float64

#### .loc syntax
Alternatively, values in a DataFrame can be indexed by keyword.

The `.loc` indexing syntax is used. 

 - This is *much* more explicit.
 - Individual rows/columns can be selected but ranges cannot be specified

In [37]:
print(students.loc['JW-1', 'Sex'])                    # Single data point
print(students.loc['JW-2', ['DOB', 'Height']])       # One row, two columns
print(students.loc[['JW-3', 'JW-12'], 'Height'])    # Two columns, one row
print(students.loc['JW-1'])                           # One row, all columns
print(students.loc[:,'Height'])                       # All rows, one column

M
DOB       11/01/1996
Height          1.77
Name: JW-2, dtype: object
Student
JW-3     1.68
JW-12    1.83
Name: Height, dtype: float64
Sex                M
DOB       19/12/1995
Height          1.82
Weight          92.4
BP            119/76
Name: JW-1, dtype: object
Student
JW-1     1.82
JW-2     1.77
JW-3     1.68
JW-4     1.77
JW-5     1.68
JW-6     1.72
JW-7     1.66
JW-9     1.78
JW-10    1.60
JW-11    1.72
JW-12    1.83
JW-14    1.56
JW-15    1.64
JW-16    1.63
JW-17    1.67
JW-18    1.66
JW-19    1.59
JW-22    1.70
JW-23    1.97
JW-24    1.66
JW-25    1.63
JW-26    1.69
Name: Height, dtype: float64

We can now apply the functions as before, but to the selected data only.

In [38]:
# dot syntax : 1 column
print(students.Weight.mean())                                   # mean of all weight

71.75454545454545

In [39]:
# loc syntax : individual rows/columns
print(students.loc[:, ['sex', 'BP']].count())                    # number of non-null sex and BP values 
print(students.loc[['JW-3', 'JW-5', 'JW-10'], 'Height'].mean())  # mean Height, students JW-3, JW-5, JW-10
print(students.loc[:, ['Height', 'Weight']].corr())              # correlation between Height and Weight values

C:\Users\tommy_mizuki\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike

sex     0
BP     22
dtype: int64
1.6533333333333333
          Height    Weight
Height  1.000000  0.670787
Weight  0.670787  1.000000

C:\Users\tommy_mizuki\Anaconda3\lib\site-packages\pandas\core\indexing.py:1367: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  return self._getitem_tuple(key)

In [40]:
# # iloc syntax : ranges
print(students.iloc[2:6, 2:4].max())                 # highest value of Heilght and Weight, students JW-3 to JW-5
print(students.iloc[:, 2:4].min())                   # lowest value of all Height and Weight
print(students.ioc[:, 2].median())                  # median of all Height 
print(students.iloc[:, 3].std())                     # standard deviation of all  Weight
print(students.iloc[:, 2].sum())                     # sum of all  Weights

Height     1.77
Weight    80.90
dtype: float64
Height     1.56
Weight    45.00
dtype: float64
1.68
13.493869058372479
37.42999999999999

### Time Series Data
<a id='TimeSeriesData'></a>
For time series data, `pandas` can be used to read csv files where one of the columns includes date-time data. 

Indicating the column contains date-time values prompts `pandas` to try to convert that column to *datetime objects*. 

Datetime objects are very convenient as specifics of the datetime object may be accessed with dot syntax (e.g. `.year` returns the year, `.month` returns the month, etc.)

In the DataFrame `students`, DOB appears in the column with index 2 <br>(regular indexing, not .iloc or .loc indexing) <br>so we use the argument `parse_dates=[2]`

In [41]:
students = pd.read_csv('sample_data/sample_student_data.csv', 
                    skiprows=[1],   
                    index_col=0,
                    parse_dates=[2])

Time series data may also contain the time in addition to the date. 

This is autonmatically included in a datetime object.

In [42]:
print(students.loc['JW-2', 'DOB'],       end='\n\n')
print(students.loc['JW-2', 'DOB'].year,  end='\n\n')
print(students.loc['JW-2', 'DOB'].month, end='\n\n')
print(students.loc['JW-2', 'DOB'].day,   end='\n\n')

1996-11-01 00:00:00

1996

11

1

Time data may be accessed using:
- `.hour`
- `.minute`
- `.time()`

### Numpy Functions for Data Frames
<a id='NumpyFunctionsDataFrames'></a>
In general, many numpy fuctions can be applied to data frames in the same way as to numpy arrays. 

Functions can also be accessed with the *dot* syntax:
> `dataframe.function()`

where `dataframe_name` and `function` are replaced with the actual data frame and function names.

Jupyter notebook has a convenient command to show all available functions. 

1.Type the name of the data frame followed by a dot e.g. 

>`students.` 

1. Press "Tab" to see all the functions that are available (there are many).

Example: The Numpy function `argmax` returns the index of the greatest value.

This can then be used to find the value of another parameter at that index.

In [43]:
print('Maximum height amongst students', students.Height.max())

print('Tallest student:',                students.Height.argmax())

print('Sex of tallest student:',         students.Sex[students.Height.argmax()])

Maximum height amongst students 1.97
Tallest student: JW-23
Sex of tallest student: M

C:\Users\tommy_mizuki\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: 'argmax' is deprecated. Use 'idxmax' instead. The behavior of 'argmax' will be corrected to return the positional maximum in the future. Use 'series.values.argmax' to get the position of the maximum now.
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\tommy_mizuki\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: FutureWarning: 'argmax' is deprecated. Use 'idxmax' instead. The behavior of 'argmax' will be corrected to return the positional maximum in the future. Use 'series.values.argmax' to get the position of the maximum now.
  """

Example: Applying a Numpy function with two columns as input arguments.

In [ ]:
BMI = np.divide(students['Height']**2, students['Weight'])
print(BMI)

### Boolean Data Frame Indexing
<a id='BooleanDataFrameIndexing'></a>
Using the same principle as the `argmax` example, we can use *conditionals* to select items that meet a certain criteria.

In [ ]:
girls = students.index[students.Sex == 'F']

taller_than = students.index[students.Height > 1.6]

girls_taller_than = students.index[((students.Sex == 'F') * (students.Height > 1.6))]

print('All female students:', girls.tolist())
print('All students taller than 1.6m:', taller_than.tolist())
print('All female students taller than 1.6m:', girls_taller_than.tolist())

### Changing Values
<a id='ChangingValues'></a>
We can overwrite the values of a data frame.

__Example : Applying a conversion factor.__
    
Convert Heights, given in m, to units of cm

In [ ]:
print(students.head())

students.Height *= 100

print()
print(students.head())

We can select (and change) values within a DataFrame based on a condition.

__Example__
Set all Weight above 80 to 80.

Row index : `students.Weight > 80` 

Column index : `Weight`

In [ ]:
print(students.head())

students.loc[students.Weight > 80, 'Weight'] = 80

print()
print(students.head())

__Example__
Set the Height of all students with Weight = 80, to 160

Row index : `students.Weight == 80` 

Column index : `Height`

In [ ]:
print(students.head())

students.loc[students.Weight == 80, 'Height'] = 160

print()
print(students.head())

## Applying a Function to a Whole Series
<a id='ApplyingFunctionWholeSeries'></a>
You can apply a function that takes a single value as input, to a whole Data Frame series, using the keyword `apply`.


The column or index name is used to indicte which series to apply the function to.

Example: apply the function $x^2$ to every value ($x$) in the column __Weight__.

In [ ]:
def square(x):
    return x**2

students.Weight = students.Weight.apply(square)

print(students.head())

This can also be expressed as a Lambda function

In [ ]:
students.Weight = students.Weight.apply(lambda x : x**2)
print(students.head())

## Sorting Data Frames
<a id='SortingDataFrames'></a>

DataFrames may be sorted with the `.sort_values` function. 

The argument `by` determines which column the entries should be ordered by.

In [ ]:
print('Students in height order:')
display(students.sort_values(by='Height'))

The function has several default/keyword arguments.

`inplace=True` replaces the original DataFrame with the new sorted DataFrame.
<br>When `inplace=False` (default) a new DataFrame is returned (which you can store in a separate variable). 

`ascending=True` (default) sorts the values in ascending order.
<br>`ascending=False` sorts the values in descending order.

In [ ]:
print('Students in height order:')
print(students.sort_values(by='Height', ascending=True).head())

## Data Cleaning
<a id='DataCleaning'></a>
Data cleaning is a very important step in data analysis. 

For example, we always as missing values can appear in the data set without generating an error, we must check to identify null or `NaN` values.

The .csv file, 'sample_data/data_with_holes.csv' has some empty cells.

In [ ]:
header = ['Item 1', 'Item 2', 'Item 3', 'Item 4']

df = pd.read_csv('sample_data/data_with_holes.csv', names=header)

print(df)

In [ ]:
print(df.isnull())        # checks for null/missing values, and returns a boolean array
print()
print(df.isnull().sum())  # number of null/missing in each column
print()
print(df.notnull())       # checks for NOT null/missing values

Missing values can then be:
- removed (whole column or row), `df.dropna()`
- filled, `df.fillna()`

In [ ]:
print(pd.read_csv('sample_data/data_with_holes.csv', names=header))
print()

# remove rows
print(pd.read_csv('sample_data/data_with_holes.csv', names=header).dropna()) 
print()
# # remove columns
print(pd.read_csv('sample_data/data_with_holes.csv', names=header).dropna(axis=1))
print()
# # fill gaps with 0
print(pd.read_csv('sample_data/data_with_holes.csv', names=header).fillna(0)) 
print()
# # fill gaps with mean of others values in column
df = pd.read_csv('sample_data/data_with_holes.csv', names=header)
print(df.fillna(df.mean))

Duplicates can be removed from the data set

In [ ]:
df = pd.read_csv('sample_data/data_with_holes.csv', names=header)

df_filtered = df.drop_duplicates('Item 4')

print(df)
print()
print(df_filtered)

Optionally, you can specify:
    - which value to keep (default keeps first)
    - to apply the change to the current data frame

In [ ]:
df = pd.read_csv('sample_data/data_with_holes.csv', names=header)

df.drop_duplicates('Item 4', keep='last', inplace=True)

print(df)

### Iterating
<a id='Iterating'></a>
To iterate through each index (row) in the data frame, there is a method called `iterrows`.

In [ ]:
for index, row in students.iterrows():
    print(index, row["DOB"])

## Plotting Data Frames
<a id='PlottingDataFrames'></a>
You can plot the column or row of a DataFrame with `matplotlib` functions, as we have studied.

In [ ]:
students = pd.read_csv('sample_data/sample_student_data.csv', skiprows=[1], index_col=[0])
plt.plot(students.Weight, students.Height, 'o')

In [ ]:
unlabelled = pd.read_csv('sample_data/noHeader_noIndex.csv',  header=None)

display(unlabelled)

Where there are no headers or row names, `iloc` indexing can be used as normal.

In [ ]:
# Plot row 1 (y axis) against row 0 (x axis)
plt.plot(unlabelled.iloc[0], unlabelled.iloc[1])

Where there are no headers or row names, `loc` indexing can uses numerical indices in place of strings (i.e. same as `iloc`):

In [ ]:
print(unlabelled.keys())

plt.plot(unlabelled.loc[0], unlabelled.loc[1])

To plot all columns against each other:

In [ ]:
#import data
headers = ["X","Y"]
unlabelled_vert = pd.read_csv('sample_data/noHeader_noIndex_vert.csv', names=headers)
display(unlabelled_vert)

#plot
unlabelled_vert.plot()

`Pandas` also has its own plotting functions (based on `matplotlib`, using the *dot* syntax).

Axes names and legend are generated automatically. 

The documentation can be found here: 
https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.plot.html

Below are some examples...

In [ ]:
unlabelled_vert.plot(kind="bar")

In [ ]:
unlabelled_vert.plot(kind="barh")

In [ ]:
students.plot('Height', 'Weight', kind="scatter")

## Adding, Removing and Joining
<a id='AddingRemovingJoining'></a>
### Adding a Column to a Data Frame
<a id='AddingColumnDataFrame'></a>
A column may be added to a Data Frame by specifying the keyword and values of the new column in the same way as a new entry is added to a dictionary.

In [ ]:
# Add a column called BloodGroup
students["BloodGroup"] = ['B', 'A', 'O', 'B', 'O',
                          'AB', 'O', 'B', 'A', 'B',
                          'A', 'A', 'O', 'O', 'A', 
                          'O', 'O', 'A', 'O', 'B', 'B', 'B']

print(students.head())

# Remove the column
del students["BloodGroup"]

### Inserting a Column to a Data Frame
<a id='InsertingColumnDataFrame'></a>
A column may be inserted at a specific position.

In [ ]:
# Add a column called BMI, calculated from two other columns
students.insert(loc=4, column='BMI', value=(students.Height**2 / students.Weight))
print(students.head())

# Remove the column
del students['BMI']
print()
print(students.head())

### Adding a Row to a Data Frame
<a id='AddingRowDataFrame'></a>

The `.loc` indexing syntax can be used to add a row to a data frame

In [ ]:
students.loc['JW-8'] = ['M',  '17/04/1996',    1.69,    55.0 ,  '121/82']  # adding a row
students.loc['JW-13'] = ['M',  '17/04/1996',    1.69,    55.0 ,  '121/82']
print(students.tail())

Single or multiple rows can be removed from a data frame. 

The keyword argument `inplace` applies the changes to the original data frame.

In [ ]:
students = pd.read_csv('sample_data/sample_student_data.csv', skiprows=[1], index_col=0)

display(students.head())

students.drop(index=['JW-1', 'JW-2', 'JW-4'], columns=['DOB'], inplace=True)

display(students.head())

Note that if your indexing systen refers to a continuous series of numbers, removing entries may leave holes in the sequence.

It can be convenient to re-assign the indexes once entries have been removed.

In [ ]:
# column headings
headers = ["X","Y"]

# import data
df = pd.read_csv('sample_data/noHeader_noIndex_vert.csv', names=headers)
display(df)

# remove two rows
df.drop([1, 3], inplace=True)
display(df)

# re-assign index
df = df.reset_index(drop=True) 
display(df)

### Resampling
<a id='Resampling'></a>
Downsampling refers to going from high frequency to low frequency e.g. daily data to monthly data. 

Upsampling refers to going from low frequency to high frequency e.g. monthly data to daily data. 

In this example, monthly totals are computed from daily values (downsampling):

The file `rotterdam_rainfall_2012.txt` contains the default ranifall data for Rotterdam for 2012.

Import the data, using the dates as the index (the column labeled `YYYYMMDD`).

In [ ]:
rain = pd.read_csv('sample_data/rotterdam_rainfall_2012.txt', 
                skiprows=9,                         # skip 9 rows of header data
                parse_dates=['YYYYMMDD'],           # create datetime object
                index_col='YYYYMMDD',               # choose the index
                skipinitialspace=True)              # skips spaces after the delimiter

display(rain.head())
rain.RH[rain.RH < 0] = 0  # remove negative values

display(rain.head())
rain.RH = rain.RH * 0.1   # convert 0.1mm/day to mm/day

display(rain.head())

`resample` is a method. We apply it to column rain.RH

__Function arguments:__
 - desired sampling frequency <br> `'A'` (annually or yearly), `'M'` (monthly), `'W'` (weekly), `'D'` (daily), `'H'` (hourly). <br>There are many other options: see http://pandas.pydata.org/pandas-docs/version/0.12.0/timeseries.html.
 
 <br>
 - `kind`<br>Tell `pandas` which point in the original scale to assign the computed value to. <br>e.g. last day of the period, first day, entire period ...
 
 <br>
 - Specify how to resample by adding a numpy function e.g. `np.mean` (the default), `np.sum`, `np.min`, `np.max`, etc.

In [ ]:
monthlyrain = rain.RH.resample('M',             # Monthly sampling     
                               kind='period'    # Assign downsampled value to whole period
                              ).sum()           # Sum all values to obtain new value

print(monthlyrain)

Lastly make a bar graph using `pandas`:

In [ ]:

monthlyrain.plot(kind='bar')

plt.ylabel('mm/month')
plt.xlabel('month');

### Saving a Data Frame
<a id='SavingDataFrame'></a>
The `to_csv` method can be used to save a `DataFrame`.

In theory, this command can be used to save the data as *any* filetype. 

Only files that can be opened as unformatted text seperated by a text delimiter (default = , comma) will be able to be read.

Function arguments may be used to format the output file.

As an example, let's store the new, resampled data set, `monthlyrain` to a .csv, .txt, and .xls file:

In [ ]:
monthlyrain.to_csv('sample_data/rotterdam_monthly_rainfall_2012.csv')
monthlyrain.to_csv('sample_data/rotterdam_monthly_rainfall_2012.txt')


monthlyrain.to_excel('sample_data/rotterdam_monthly_rainfall_2012.xls')

The full list of optional function arguments can be found here: https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.to_csv.html

Five useful optional function arguments as examples:
- `header` : new headers can be assigend as a list of strings OR the header can be omitted using
- `float_format` : the number of decimal places
- `sep`: delimter (default = ",")
- `mode` : the Python mode specifier (default = `w`)
 `header=False`.
- `index` : write row names (default = True)

In [ ]:
monthlyrain.to_csv('sample_data/rotterdam_monthly_rain_formatted.csv',
                     header=False,
                     float_format="%.3f",
                     sep="\t",
                     mode="a",  
                     index=False)

## Other Ways to Save Program Output
<a id='OtherWaysSaveProgramOutput'></a>
Pandas data frames are very useful for handling data that can be represented as a spreadsheet.

However, we need a more generic way to save output data

Examples:
- saving a block of text
- saving a small collection of values

Python has a collection of easy to use functions for reading and writing files: 
- `open()`
- `read()`
- `write()`
- `close()`

Before a file can be read or written to, it must be opened using the `open()` function. 

__Function arguments:__
1. Path to the file (filename and location)
2. The *mode specifier* with which to open the file:

<br>
- `r`: open an existing file to read

<br>   
- `w`: open an existing file to write to. <br>If no file exists: creates a new file.<br>If file exists : over-writes previous contents.

<br>    
- `a`: open an existing file to write to. <br>If no file exists: creates a new file.<br>If file exists : appends text to end of file.

- `r+`: open a text file to read from __or__ write to. <br>File must already exist.<br>If file exists : over-writes previous contents.

<br>
- `w+`: open a text file to read from __or__ write to.<br>If no file exists: creates a new file.<br>If file exists : over-writes previous contents.

<br>
- `a+` : open a text file to read from __or__ write to.<br>If no file exists: creates a new file.<br>If file exists : appends text to end of file.

Once the file is open, it creates a *file object*.  

We can interrogate the file for various details including whether it is open or closed:

 - `name`: Name of the opened file
 - `mode`: Mode specifier with which the file was opened  
 - `closed`: Boolean True or False
 - `readable( )`: Read permission, Boolean True or False
 - `writable( )`: Write permission, Boolean True or False

__Example__

Once a file has been opened it's contents can be read, overwritten, or added to, depnding on the mode specifier used to open it. 

We are going to open an example file as if we were going to *write* some data to it. 

The mode specifier is `w`.

In [ ]:
file = open("sample_data/my_file.txt", "w" )

Once the file is open, we can *interrogate it for information.

In [ ]:
# Interrrogate the file:
print( "File Name:",  file.name )

print( "Open Mode:",  file.mode )

print( "Readable:",  file.readable())

print( "Writable:",  file.writable())

An open file must then always be closed again by calling the close() method.

Let's first write a function to show us if a file is open or closed.

In [ ]:
# Write a function to determine the file's status:
def get_status( f ):
    if ( f.closed != False ) :
        return "Closed"
    else :
        return "Open"

##### Why do we need to close a file? 
1. Python does not automatically close the file. Leaving it open means that you risk overwriting information.
1. Closing the file saves any changes to it.
1. Depending on your computer's operating system, you may not be able to open a file simultaneously for reading and writing. <br>__Example:__ If a program attempts to open a file that is already open (has not been closed), an error may be generated.

Let's try out our function.

In [ ]:
print( "File Status:" , get_status(file))  

file.close()

print( "File Status:" , get_status(file))

__Try it yourself__

1. Save the previous 4 code cells contents to a file, `interrogate_file.py`. 

1. Correct the following line to specify the path to `my_file.txt`, *relative* to the location of `interrogate.py`:
>`file = open("sample_data/my_file.txt’", "w" )`

1. Run `interrogate_file.py` from the terminal to see the file get created and display information about `my_file.txt`.

### Reading and Writing Text Files
<a id='ReadingWritingTextFiles'></a>
### Writing Files
<a id='WritingFiles'></a>
Data can be written to a files in a number of ways.

This time, let's actually write some data to the file.

Let's first create a string to write to a text file:

The inclusion of `\n` anywhere in the string creates a line break.

In [ ]:
poem = 'I never saw a man who looked\nWith such a wistful eye\n'
print(poem)

A string my be *concatenated* (stuck together end to end) using the `+=` arithmetic operator.

This allows us to build the string over the course of the program.

In [ ]:
poem += "Upon that little tent of blue\n" 

poem += "Which prisoners call the sky\n"

Create an object to __write__ the string to a file:

In [ ]:
file = open("sample_data/poem.txt", "w" )

Write the string to the file, then close it.

In [ ]:
file.write(poem)

file.close()

You can open the file using a text editor to confirm it's contents.

## Reading and Editing Files
We will now study some more functions to read and edit a file that has been opened using the `read` file specifier.
- `read()`
- `seek()`
- `tell()`
- `truncate()`

#####  `read()`
We studied read earlier in today's class.

By default `read()` will read the entire contents of the file from the beginning (index 0) to the end (index -1).  

An optional integer argument can be used to specify *how many characters to read*.

##### `seek()`
The position within a file:
 - from which to read or...
 - at which to write

can be selected using `seek()`.

An optional integer argument can be used to specify *how many characters to offset* the start position from the start of the file.

##### `tell()`
The current position within a file can be returned an integer location index at any time using `tell()`.

##### `truncate()`
Deletes all characters after the current position.

__Example :__`read`, `seek()`, `tell()` and `truncate()`.

Let's first write some data to a file:

In [ ]:
with open("sample_data/twister.txt" , "w" ) as file :  
    file.write("How can a clam cram in a clean cream can?")

Now we are going to read and edit the data.

We first:
- open the file using a mode specifier to read *and* write
- print the current position in the file:

In [ ]:
file = open("sample_data/twister.txt" , "r+")

print("Position In File Now:", file.tell())

The position changes, once the file has been read.

In [ ]:
# reading the file moves the position 
print(file.read())
print("Position In File Now:", file.tell())

Let's move to a specific position, 31 characters into the file:

*(This looks for a specific __position__. In next week's class we will learn to look for a specific __word__.)*

In [ ]:
# seek
file.seek( 31 )
print("Position In File Now:", file.tell())

Position 31 is just before the words `' cream can?'`.

We can see this by reading the file at this point.

In [ ]:
print(file.read())

We are going to replace:

    'cream can?'

...with:

    'caravan?'

We are now at the end of the file.

Let's go back to position 31 and write `'caravan'`.

In [ ]:
# write starting at new position
file.seek( 31 )
file.write("caravan?")

What does the whole file look like now? 

We can go back to position 0 and read the file to check:

In [ ]:
# return to position 0 and print the file contents
file.seek( 0 )
print(file.read())

`'cream can?'` has been *overwritten* with  `'caravan?'`.

However, `'cream can?'` contains more letters than `'caravan?'` so the additional letters are note overwritten.

We can use `truncate` to remove any traling charcters:

In [ ]:
print(len('caravan?'))
file.seek( 31 + len('caravan?'))
# truncate deletes all characters from current position onwards
file.truncate()

What does the whole file look like now? 

We can go back to position 0 and read the file to check:

In [ ]:
# return to position 0 and print the file contents
file.seek( 0 )
print(file.read())

Finally, remember to close the file:

In [ ]:
file.close()

The full example, using `with`:

In [ ]:
# write file
with open("sample_data/twister.txt" , "w" ) as file :  
    file.write("How can a clam cram in a clean cream can?")
    

# read and edit
with open("sample_data/twister.txt" , "r+" ) as file : 
    
    # tell 
    print("Position In File Now:", file.tell()) 
    
    # reading the file moves the position 
    print(file.read())
    print("Position In File Now:", file.tell())
    
    # seek
    file.seek( 31 )
    print("Position In File Now:", file.tell())
    
    # write starting at new position
    file.write("caravan?")
    
    # truncate deletes all characters from current position onwards
    file.truncate()    
    
    # move back to start poistion
    file.seek( 0 )
    print("Position In File Now:", file.tell())
    
    # print updated string
    print(file.read())

Alternatively, if we know the word to replace we can use the function `replace()`:

In [ ]:
with open("sample_data/twister.txt" , "w+" ) as file : 
    # write contents
    file.write("How can a clam cram in a clean cream can?")
    
    # go to start of file
    file.seek( 0 )
    
    # create a new string with the words replaced 
    data = file.read().replace("cream can", "caravan")
    
    # go to start of file
    file.seek( 0 )
    
    # over-write the old string
    file.write(data)
    file.truncate()
    
    # go to start of file
    file.seek( 0 )
    print(file.read())

A maximum file sixe can be specified when using truncate:

In [ ]:
with open("sample_data/twister.txt" , "w+" ) as file : 
    # write contents
    file.write("How can a clam cram in a clean cream can?")
    
    # set maximum length of string
    file.truncate(10)
    
    # go to start of file
    file.seek( 0 )
    print(file.read())

## Binary Files ("Pickling" Data)
<a id='BinaryFilesPicklingData'></a>
String data can easily be stored in text files, as shown. 

Other data types (e.g. numbers, lists, dictionaries) can also be stored in text files but require conversion to strings first. 

Restoring that stored data to their original data type, if read into a Python file, requires the opposite conversion.

Unless the storage  file needs to be human-readable for some reason, it is more efficient to use `pickle` to store data as a machine-readable binary file.

#### Advantages of pickling data.

A binary file is essentially a computer file that __stored__ in a non-plain text file format(e.g. .py, .csv, .txt.....etc).

A character stream is used to represent (typically non-text) information. 

<img src="img/binary-file-in-text-editor.png" alt="Drawing" style="width: 300px;"/>

This character stream contains all the information necessary to reconstruct the object in another (python) script.

Many binary file formats contain parts that can be interpreted as text:

__Example:__ A computer document file may contain:
- un-formatted text
- formatting information

__Serialising__
<br>Translating data structures or object state into a format that can be stored  or transmitted and reconstructed later.  

The serialised character stream contains all the information necessary to reconstruct the object in another (python) script / computer environment.

Pickling a python object serialises the object:
- converting it to a character stream
- allowing it to be stored at a smaller size



Read (`r`), write (`w`) and append (`a`) can be used to produce binary files simply by using the mode specifiers:
- `rb` : read
- `wb` : write
- `ab` : append

“Pickling” a data object stores a string representation of the object.

The string representation can later be “unpickled” to its former state.

The following example shows how to pickle data.

Import the `pickle` package:

In [ ]:
import pickle

Create sample data:

In [ ]:
data = [ "Numbers" , 
         [1, 2, 3, 4, 5] ]

print(data)

In the `with` block:
 - Use the function `pickled.dump()`

In [ ]:
with open( "sample_data/pickled.dat" , "wb" ) as file:
    
    pickle.dump( data, file )

In the `with` block:
 - Use the function `pickled.load()`

In [ ]:
with open( "sample_data/pickled.dat" , "rb" ) as file:
    
    data = pickle.load(file)
    
print(f"recovered data: \n{data[0]}, type = {type(data[0])} \n{data[1]}, type = {type(data[1])} ")

### Pickling a Pandas Data Frame
<a id='PicklingPandasDataFrame'></a>
`pandas DataFrame`s have a built-in method, `to_pickle`, that can be used to pickle the data that they contain. 

To demonstrate, let's use the `pandas`, `read_csv` function to read in the sample student data again:

In [ ]:
students = pd.read_csv('sample_data/sample_student_data.csv', 
                    skiprows=[1],   
                    index_col=0)

print(students.keys())

The cell below shows how to pickle (save) and read back the `students DataFrame`.

In [ ]:
students.to_pickle("sample_data/pickled_student_data.dat")

In [ ]:
from pandas import read_pickle
read_back = read_pickle("sample_data/pickled_student_data.dat")
print(read_back)

## Saving Data with Numpy
<a id='SavingDataNumpy'></a>
`numpy` provides a few options for saving data that has the form of a Numpy array only.

Example array:

In [ ]:
# This is a numpy array
A = np.zeros(4)

# This is not a numpy array
# A = ["kit", "kat"]

##### `numpy.save()`

You can use the argument `fix_imports` (default = `False`).
<br>If `True` this will make sure your data is pickled in a way that is readable in Python 2.

The file is stored as a binary file with extension `.npy`:
 - you do not need to specify a filetype.
 - this can only be opened using Python (numpy).
 
The file is generally smaller than standard pickling (112 bytes vs 187 bytes) for this example.

In [ ]:
np.save("sample_data/np_save", A)

B = np.load("sample_data/np_save.npy")

print(B)

##### `numpy.dump()`
Numpy arrays also have a method:
- concise 
- file type that is accessible outside of numpy
- larger (this example 240 bytes)

In [ ]:
A.dump("sample_data/np_dump.dat")

B = np.load("sample_data/np_dump.dat")

print(B)

##### `numpy.savetxt`
Lastly, to save a numpy array containing *only numerical values*:
- in human readable form.
- at small size (this examples 100 bytes)

In [ ]:
# np.savetxt("sample_data/np_savetxt.txt", A)

np.savetxt("sample_data/np_savetxt.txt", A)

B = np.loadtxt("sample_data/np_savetxt.txt")

print(B)

# Summary
<a id='Summary'></a>
 - Data from external files (e.g. .csv files) can be imported using the standard Python library. 
     - A  file object has open(), read(), write(), and close() methods for working with  files, and features that describe the  file properties
     - The open() method must specify a  file name string argument and a  file mode string argument, such as ’r’ to read the  file.
     - Position in a  file, at which to read or write, can be specified with the seek() method and reported by the tell() method the Python with keyword groups  file operational statements within a block and automatically closes an open  file.
 - Pandas DataFrames can be used to store and manipulate data for anaysis.
 - The process of “pickling” objects stores a string representation of an object that can later be “unpickled” to its former state. 
 - A pickle object’s dump() method requires arguments to specify an object for conversion and a  le name in which to store data. 
 - Stored object data can be retrieved by specifying the  le name in which it is stored to the pickle object’s load() method. 
 
*(Adapted from) McGrath 2016*

<a id='TestYourselfExercises'></a>
# Test-Yourself Exercises

Compete the Test-Youself exercises below.

Save your answers as .py files and email them to:
<br>philamore.hemma.5s@kyoto-u.ac.jp

### Test-Yourself Excercise: Sorting Data Frames.

1. Import the necessary libraries

1. Import the dataset from https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv to a Pandas data frame. 

1. Print the names of all the columns

1. Remove all duplicate items keeping only the first to appear in the data frame.

1. Remove all items without a choice_description from the data set. 

1. Cast all prices as float data. <br>*Hint: Currently each price is a __string__ of which the __last 4 characters__ are a floating point number*. 

1. What is the price of each item? Generate a *new data frame* with only two columns item_name and item_priceipo.

1. Sort this data frame by price in descending order.

1. Save the new data frame as a .csv file.

In [ ]:
# Example Solution
# 1. Import the necessary libraries
import pandas as pd

# 2. Import the dataset 
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'  
chipo = pd.read_csv(url, sep = '\t')

# 3. Print the names of all the columns
print(chipo.columns)

# 4. Remove all duplicate items
chipo.drop_duplicates('item_name', inplace=True)

# 5. Remove all items without a choice_description 
chipo.dropna()

# 6. Cast all prices as float data.
chipo.item_price = chipo.item_price.apply(lambda x : float(x[1:-1]))

# 7. Generate a new data frame with only two columns item_name and item_priceipo
price_per_item = chipo[['item_name', 'item_price']]

# 8. Sort this data frame by price in descending order. 
price_per_item = price_per_item.sort_values(by = "item_price", ascending = False)

# 9. Save the new data frame as a .csv file.
price_per_item.to_csv('sample_data/price_per_item.csv')

### Test-Yourself Excercise: Appending text files.

Find out the origin of the quote in `dot.txt`.

Write Python code directly into the terminal to append the file `dot.txt` with a citation.

In [ ]:
file = open("sample_data/dot.txt", "a")
file.write("Carl Sagan, speech at Cornell University, October 13, 1994")
file.close()

In [ ]:
# Example Solution 
file = open("sample_data/dot.txt", "a" )
file.write('\nCarl Sagan, speech at Cornell University, October 13, 1994')
file.close()